<!--- add-paste.component.html -->

<div class="add-paste">
  <button type="button" class=" text-success button-text" (click)="createPaste()"> create Paste </button>
  <div *ngIf="showModal"  id="source-modal" class="modal fade in " style="display: block; padding-right: 15px;">

    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)='onClose()' data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title"> 
           <input  placeholder="Enter the Title" name="title" [(ngModel)] = "newPaste.title" />
          </h4>
        </div>
        <div class="modal-body">
         <h5> 
          <select name="language"  [(ngModel)]="newPaste.language" >
            <option  *ngFor ="let language of languages" value={{language}}> {{language}} </option>
          </select>
         </h5>      
         <textarea name="paste" placeholder="Enter the code here" [(ngModel)] = "newPaste.paste"> </textarea>
        </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onClose()" data-dismiss="source-modal">Close</button>
        <button type="button" (click) = "onSave()" class="btn btn-primary">Save</button>
      </div>
     </div>
    </div>
  </div>
</div>