<nav class="navbar navbar-inverse">
   <div class="container-fluid">
       <div class="navbar-header">
           <div class="navbar-brand" >{{title}}</div>
      </div>
      <ul class="nav navbar-nav bigger-text">
        <li>
         <a routerLink="" routerLinkActive="active">Pastebin Home</a>
        </li>
        <li>
         <a routerLink="/about" routerLinkActive="active">About Pastebin</a>
        </li>
        <li>
         <a routerLink="/contact" routerLinkActive="active"> Contact </a>
         </li>
    </ul>
   </div>
</nav>
  <router-outlet></router-outlet>


